<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎮 Cartucho</title>
    <link rel="stylesheet" href="/assets/output.css">
    <script src="flyonui/flyonui.js"></script>
</head>

<body>
    <div class="container mx-auto px-4 mt-15 max-w-2xl">

        <div class="mockup-browser bg-base-300">
            <div class="mockup-browser-toolbar">
                <div class="input bg-base-200">🎮 Cartucho</div>
            </div>
            <div class="justify-center px-4 py-16 bg-base-200">

                <h5 class="text-base-content/90 text-lg font-semibold">About</h5>

                <p class="text-base-content/80 text-base mb-5">
                    Welcome to CARTUCHO the IPFS Retro Gaming Emulator!
                    We are excited to offer a unique experience that combines nostalgia with modern technology. Our
                    emulator
                    allows you to play classic video games using files stored on IPFS (InterPlanetary File System). IPFS
                    is
                    a decentralized file system that facilitates the sharing and access of digital content quickly and
                    securely.
                </p>

                <h5 class="text-base-content/90 text-lg font-semibold">How It Works</h5>
                <p class="text-base-content/80 text-base mb-5">
                    Accessing Games: With IPFS, each game has a unique identifier called a CID (Content Identifier). By
                    using this CID, you can easily access retro gaming files.
                </p>
                <p class="text-base-content/80 text-base mb-5">
                    Fast Downloads: Thanks to the decentralized architecture of IPFS, files are downloaded quickly,
                    regardless of where you are. Just enter the CID of the desired game, and our system will fetch the
                    file
                    directly from the network.
                </p>
                <p class="text-base-content/80 text-base mb-5">
                    Loading in the Emulator: Once downloaded, the file is loaded into the emulator, allowing you to
                    relive
                    your childhood adventures. The emulator supports popular formats, ensuring you have an authentic and
                    fun
                    experience.
                </p>
                <p class="text-base-content/80 text-base mb-5">
                    Play and Share: In addition to playing, you can easily share game CIDs with friends and family,
                    enabling
                    everyone to enjoy the classics together.
                </p>
                <h5 class="text-base-content/90 text-lg font-semibold">Why Use IPFS?</h5>
                <p class="text-base-content/80 text-base mb-5">
                    Using IPFS to store and share games offers numerous advantages, such as:

                <p class="text-base-content/80 text-base mb-5">
                    Decentralization: IPFS does not rely on a central server, making access more resilient to failures
                    and
                    outages.
                    Speed: Files are distributed across a network of nodes, which can result in faster download times.
                    Accessibility: Players worldwide can easily access the same games, promoting a more inclusive retro
                    gaming community.
                    Join Us!
                </p>
                <p class="text-base-content/80 text-base mb-5">
                    Explore our library of games, share your favorite CIDs, and enjoy an engaging gaming experience that
                    combines the best of the past and the present. Get ready to play and relive the greatest moments of
                    classic gaming!
                </p>
                <a onclick="history.back(); return false;" class="btn btn-primary btn-block">Back</a>


            </div>
        </div>


        <footer class="footer footer-center mt-10">
            <nav class="grid grid-flow-col gap-4 text-base-content/90">

            </nav>
        </footer>
    </div>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>s
</body>

</html>