<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎮 Cartucho</title>
    <link rel="stylesheet" href="/assets/output.css">
    <script src="/node_modules/flyonui/flyonui.js"></script>
</head>

<body>
    <div class="container mx-auto px-4 mt-15 max-w-2xl">

        <div class="mockup-browser bg-base-300">
            <div class="mockup-browser-toolbar">
                <div class="input bg-base-200">🎮 Cartucho</div>
            </div>
            <div class="flex justify-center px-4 py-16 bg-base-200">

                <form action="/play" method="GET" class="mb-4">

                    <div class="form-control relative w-96 mb-4">
                        <select name="platform" id="platform" class="select select-filled" aria-label="Filled select">
                            <option disabled selected>Select Console</option>
                            <option value="3do">3DO</option>
                            <option value="arcade">Arcade</option>
                            <option value="atari2600">Atari 2600</option>
                            <option value="atari5200">Atari 5200</option>
                            <option value="atari7800">Atari 7800</option>
                            <option value="jaguar">Atari Jaguar</option>
                            <option value="lynx">Atari Lynx</option>
                            <option value="coleco">ColecoVision</option>
                            <option value="c64">Commodore 64</option>
                            <option value="c128">Commodore 128</option>
                            <option value="amiga">Commodore Amiga</option>
                            <option value="pet">Commodore PET</option>
                            <option value="plus4">Commodore Plus/4</option>
                            <option value="vic20">Commodore VIC-20</option>
                            <option value="mame2003">MAME 2003</option>
                            <option value="nes">NES / Famicom</option>
                            <option value="n64">Nintendo 64</option>
                            <option value="nds">Nintendo DS</option>
                            <option value="gb">Nintendo GameBoy</option>
                            <option value="gba">Nintendo GameBoy Advance</option>
                            <option value="psx">PlayStation</option>
                            <option value="sega32x">Sega 32X</option>
                            <option value="segaCD">Sega CD</option>
                            <option value="segaGG">Sega Game Gear</option>
                            <option value="segaMS">Sega Master System</option>
                            <option value="segaMD">Sega Mega Drive</option>
                            <option value="segaSaturn">Sega Saturn</option>
                            <option value="snes">SNES</option>
                            <option value="vb">Virtual Boy</option>
                        </select>
                        <span class="select-filled-focused"></span>
                        <span class="select-filled-label">Console</span>
                    </div>


                    <div class="form-control w-96 mb-4">
                        <input type="text" id="cid" name="cid" placeholder="CID" class="input input-filled peer"
                            required />
                        <label class="input-filled-label">IPFS CID</label>
                        <span class="input-filled-focused"></span>
                    </div>
                    <button type="submit"
                        class="btn btn-primary block text-white rounded-md px-4 py-2 w-full">Jogar</button>
                </form>

            </div>
        </div>


        <footer class="footer footer-center mt-10">
            <nav class="grid grid-flow-col gap-4 text-base-content/90">
                <a href="/how-its-works" class="link link-hover">How Cartucho Works</a>
            </nav>
        </footer>
    </div>
</body>

</html>